<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybq.mybatis.mapper.CateMapper">
    <resultMap id="BaseResult" type="Cate">
        <id property="cateId" column="cate_id"/>
        <result property="name" column="name"/>
        <result property="createDate" column="create_date"/>
        <result property="status" column="status"/>
    </resultMap>
    <insert id="insert" keyProperty="cate.cateId" useGeneratedKeys="true">
        insert into cate(name)
        values (#{cate.name})
    </insert>
    <!--   resultMap  直接使用定义的resultMap -->
    <!--   resultType  一般情况指向一个对象(不推荐使用)-->
    <!--    parameterType=""  在mapper.xml中声明参数  (不推荐)-->
    <select id="selectList" resultMap="BaseResult">
        select cate_id, name, create_date, status
        from cate
        where status = 0;
    </select>
</mapper>